.sidebar {
  grid-area: nav;
  background: rgb(118, 133, 210);
  background: radial-gradient(
    circle,
    rgba(118, 133, 210, 1) 9%,
    rgba(79, 184, 177, 0.8856792717086834) 100%
  );
  font-family: var(--body-font);
}
.vertical_nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.vertical_nav li a {
  display: block;
  color: #32387e;
  padding: 8px 0 8px 16px;
  text-decoration: none;
  font-size: 1.5rem;
}
.vertical_nav li .activeLink {
  background-color: #04aa6d;
  color: white;
}
.friendsContainer {
  padding: 38px 16px;
}
.friendsContainer h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
  color: #32387e;
}
.friends {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 5px;
}
.friend {
  flex-basis: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  color: #32387e;
}
.avatar {
  width: 50px;
  max-width: 100%;
}
