.content {
  max-width: 1000px;
  width: 100%;
  grid-area: content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.picture {
  max-width: 1000px;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.content img {
  max-width: 100%;
}
.decription {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}
.avatar {
  max-width: 200px;
  width: 100%;
}
.decription h2 {
  font-family: var(--head-font);
  font-size: 2rem;
  margin-bottom: 20px;
}
.decription p {
  font-family: var(--body-font);
  font-size: 1rem;
  margin-bottom: 5px;
}
.myposts {
  max-width: 800px;
  width: 100%;
}
h1 {
  font-family: var(--head-font);
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;

  gap: 20px;
  margin-bottom: 20px;
}
.form textarea {
  flex-basis: 100%;
  border: 1px solid rgba(114, 152, 149, 0.959);
  border-radius: 5px;
  resize: none;
  font-family: var(--body-font);
  font-size: 1rem;
  background-color: rgba(121, 210, 204, 0.194);
  padding: 5px;
}
.form input {
  width: 20%;
  align-self: flex-end;
  font-family: var(--body-font);
  font-size: 1.1rem;
  background-color: #1c2047cb;
  color: beige;
  padding: 5px;
}

.post {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
.post::after {
  content: "";
  clear: both;
  display: table;
}
.post img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}
.post p {
  font-family: var(--body-font);
  font-size: 1.1rem;
}
