*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@700&display=swap");
:root {
  --body-font: "Lora", serif;
  --head-font: "Poppins", sans-serif;
}
.app-wrapper {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 200px 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "header header"
    "nav content";
}
