.app-wrapper {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 100px 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "header header"
    "nav content";
}
.header {
  grid-area: header;
  background: rgb(118, 133, 210);
  background: radial-gradient(
    circle,
    rgba(118, 133, 210, 1) 9%,
    rgba(79, 184, 177, 0.8856792717086834) 100%
  );
}
.header img {
  width: 50px;
  max-width: 100%;
}
.nav {
  grid-area: nav;
  background: rgb(118, 133, 210);
  background: radial-gradient(
    circle,
    rgba(118, 133, 210, 1) 9%,
    rgba(79, 184, 177, 0.8856792717086834) 100%
  );
}
.vertical-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.vertical-nav li a {
  display: block;
  color: #000;
  padding: 8px 0 8px 16px;
  text-decoration: none;
}
.vertical-nav a.active {
  background-color: #04aa6d;
  color: white;
}
.content {
  grid-area: content;
}
